@{
    ViewBag.Title = "About Us";
    ViewBag.NavActive = "About";
}

<h1>About</h1>
<h2>Mission</h2>
<p>
    The mission of the North West Valley .NET User Group is:
    <ul>
        <li>To facilitate an environment for .NET developers and IT professionals building real-world solutions using the Microsoft.NET platform.</li>
        <li>To allow members an opportunity to share knowledge and learn new technology skills from local members and industry leaders.</li>
        <li>To get Northwest Valley .NET developers together to know they are not alone in the Northwest Valley.</li>
    </ul>
</p>
<h2>Leaders</h2>
<h3>Mike Hamilton</h3>
<p>
    Email: <a href="mailto:MikeScott8@nwvdnug.org">MikeScott8@nwvdnug.org</a><br />
    Twitter: <a href="http://twitter.com/NWVDNUG">@@NWVDNUG</a>
</p>
<p>
    Personal Email: <a href="mailto:Mike@MikeScott8.net">Mike@MikeScott8.net</a><br />
    Personal Site: <a href="http://www.mikescott8.net">www.mikescott8.net</a><br />
    Personal Twitter: <a href="http://twitter.com/mikescott8">@@MikeScott8</a>
</p>
<p>
    Mike Hamilton has been a software developer since 1999. He has been involved in local user groups as a member for several years. 
    Mike attends several of the local user groups that are listed on <a href="http://www.azgroups.org">AZgroups.org</a> but couldn't attend as many
    as he wanted to due to the distance to them from Surprise, AZ where he lives. So finally decided to start a local group in the Northwest valley
    feeling there was a need in th ecommunity.
</p>
<p>
    Since March 2011, Mike has been a Consultant with <a href="http://www.neudesic.com">Neudesic</a>, which is a Microsoft National Systems Integrator and Gold ISV Partner.<br />
    Prior to that Mike worked for <a href="http://www.blakeis.com">Blake Information Solutions</a>, located in Sun City West, AZ.<br />
    Before coming to Arizona Mike lived and worked in Rochester, NY.<br />
</p>
<p>
    Mikes techincal experience started with VB5, and moved along the Microsoft development ecosystem, continuing to VB.net, for WinForms and ASP.net.<br />
    He currently is using C#, MVC3, Entity Framework (EF) code first, Backbone.js, CoffeeScript, jQuery, Test Driven Development (TDD), Jasmin specification test runner, 
    agile development and other various tools and technologies for his current work projects.<br />
    This is one of the reasons that community user groups are important, theres so many technologies and techniques out there that can be used together to make a developer
    work better and more effectively, that developers need to keep themselves learning the new options to effectively choose what and where to use the different options.
</p>