@{
    ViewBag.Title = "Network";
    ViewBag.NavActive = "Network";
}

<div class="row">
    <h1>Network with us over Social Media</h1>
</div>

<div class="row">
    <h2>Twitter</h2>
    <a href="http://twitter.com/nwvdnug" target="_blank">@@nwvdnug</a> - Group
    <br />
    <a href="http://twitter.com/mikescott8" target="_blank">@@mikescott8</a> - Group Founder
</div>

<div class="row">
    <h2>Google Plus</h2>
    <a href="https://plus.google.com/b/104021281142172736622/104021281142172736622" target="_blank">Group Google Plus Page</a>
</div>

<div class="row">
    <h2>Facebook</h2>
    <a href="http://www.facebook.com/nwvdnug" target="_blank">Group Facebook Page</a>
</div>

<div class="row">
    <h2>AZ Groups - AZ User Groups</h2>
    <a href="http://azgroups.org/" target="_blank">AZ Groups site - Mailing List, Calendar</a>
</div>

