@model dynamic

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Privacy Policy</h2>
<p>
	Windows apps – Privacy policy
</p>
<p>
	This Privacy Policy covers your use of this application. This app does not collect, store, or 
	share any personal information, or anything related to your device. We do not collect any 
	statistics, trends, neither do we track user movements.
</p>